.desktop-parent{
    background-image: url("https://uc5924d032b5ccc7cca79bf9b647.dl.dropboxusercontent.com/cd/0/inline/Bmu0ZjDpGYGO3N_-K56srfx2O2AaTqjDsmDotrnV3CARPJlTG_czhHSEhfZ_9LGdMGCfxt65i8w2OnDalfY5wTzGSbNJleUjoV2gEhd8wq990qMpAWINxY3Qu2bJMbL-5-hEahpjuWCh8BhmI-TWOPd3Mj7kio3s6CQ0vjKxd8rU9w/file#");
    /* background-image: url("../public/gifbg2.gif"); */
    background-repeat: repeat;
    height:100vh;
    overflow: hidden;
    overflow-y: auto;
    /* background-repeat: no-repeat; for gif5 */
}
